.css-46bh2p-MuiCardContent-root:last-child{
  padding: 5px !important;
  margin:0;
}
.MuiPaper-root .task{
  background-color: #40404017;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  }

  .css-10botns-MuiInputBase-input-MuiFilledInput-input{
    color: #fff!important;;
  }
  .css-i4bv87-MuiSvgIcon-root {
    fill:#fff!important;
  }
  
.css-vubbuv{
  fill:#fff!important;
}
.css-2bxn45 {
color:#fff!important;
}