@use "@material/card";

@include card.core-styles;

body {
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
  display:none;
}
.todolist::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.todolist::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.todolist::-webkit-scrollbar-thumb {
  cursor:grabbing;
  background: rgb(182, 181, 181);
  border-radius: 10px;
}
.todolist::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 104, 104);
}
*{
  
  transition:all 0.3s ease-in-out !important;
}
#outlined-basic-label,.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  color:#fff!important;
}