@use "@material/card";

@include card.core-styles;

body {
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
  display:none;
}
.todolist::-webkit-scrollbar {
  width: 20px;
}

.textare{
  resize:none;
}
.delete:hover {
background:rgb(218, 44, 44)!important;
color:#fff;
}

/* Track */
.todolist::-webkit-scrollbar-track,.textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.todolist::-webkit-scrollbar-thumb ,.textarea::-webkit-scrollbar-track{
  cursor:grabbing;
  background: cadetblue;
  border-radius: 10px;
}
.todolist::-webkit-scrollbar-thumb:hover ,.textarea::-webkit-scrollbar-track{
  background: cadetblue;
}
*{
  
  transition:all 0.3s ease-in-out !important;
}
.cardcontentwrapper{
  background:cadetblue;
  margin: 15px !important;
}
#outlined-basic-label,.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  color:#fff!important;
}
.css-zun73v.Mui-checked .task{
  background-color: green!important;
}
.css-bbgsq2-MuiPaper-root-MuiCard-root {
  background: cadetblue!important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}